* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 800px;
    height: 800px;
    background-color: #d00715;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

.menu {
    width: 300px;
    background-color: #2011cd;

}

.left, .right {
    width: 250px;

}

.yellow {
    width: 70px;
    height: 70px;
    background-color: #fae522;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green {
    width: 90px;
    height: 90px;
    background-color: #139919;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    padding: 10px;
    overflow-y: scroll;
}

.block_purple:not(:last-child) {
    margin-bottom: 10px;
}

.block_purple {
    background-color: #9211cd;
}

.purp_1 {
    min-height: 80px;

}

.purp_2 {
    min-height: 150px;

}

.purp_3 {
    min-height: 250px;

}

.purp_4 {
    min-height: 150px;

}

.purp_5 {
    min-height: 70px;

}

.purp_6 {
    min-height: 200px;

}

.purp_7 {
    min-height: 250px;

}

.purp_8 {
    min-height: 150px;

}



